body {
    margin: 0;
    font-family: Arial;
    background: #020617;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: black;
}

.hero {
    text-align: center;
    padding: 100px;
}

.services {
    padding: 50px;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}

.card {
    background: #1e293b;
    padding: 25px;
    border-radius: 10px;
}

.contato form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
}

input, textarea {
    margin: 10px 0;
    padding: 10px;
}

button {
    padding: 10px;
    background: #38bdf8;
    border: none;
}

.whatsapp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: green;
    padding: 15px;
    border-radius: 50%;
    cursor: pointer;
}